.navigation
  .logo.header__logo
    img(src="./img/logo.png", alt="")
  .city.header__city
    a(href="#" class="button__city") <span class="button__city__text">Астана</span> <img src="./img/city_arrow.svg" class="button__city__arrow" alt="">
  .nav.header__nav
    .nav__links
      a(href="#") О нас
    .nav__links
      a(href="#") Статистика
    .nav__links
      a(href="#") Новости
    .nav__links
      a(href="#" class="mr0") Контакты
  .contacts.header__contacts
    a(href="tel:+7 702 440 70 07" class="contacts__tel") <span class="contacts__tel--digits">+7 702</span> 440 70 07
    button(href="#" class="button contacts__button") Перезвоните мне
